.head {
    position: relative;
    height: 110px
}

.head-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff
}

.head-title {
    font-size: 25px;
    text-align: center;
    margin: 26px 0
}

.head-home {
    display: block;
    position: absolute;
    right: 10px;
    top: 26px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px
}

.head-home:after {
    background-image: url(../res/bg_home.png);
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-size: 18px;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px
}

.head-nav {
    position: relative;
    bottom: 5px;
    font-size: 0
}

.head-nav:before {
    content: '';
    display: inline-block;
    width: 2%
}

.head-nav:after {
    content: '';
    display: inline-block;
    width: 2%
}

.head-nav-item {
    font-size: 14px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    width: 16%;
    height: 30px;
    line-height: 30px
}

.head-nav-itemf {
    font-size: 14px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    width: 24%;
    height: 30px;
    line-height: 30px
}

.head-nav-item>a {
    display: block;
    color: #fff
}
.head-nav-itemf>a {
    display: block;
    color: #fff
}
.head-bgimg {
    width: 100%;
    height: 110px
}